<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 데이터소스 설정 -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${db.driverClassName}" />
        <property name="url" value="${db.url}" />
        <property name="username" value="${db.username}" />
        <property name="password" value="${db.password}" />
    </bean>

    <bean id="memberDAO" class="com.oraclejava.hellospringmvc.dao.MemberDAOImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:db.properties</value>
            </list>
        </property>
    </bean>

    <!--서비스 등록-->
    <bean id="memberService"
          class="com.oraclejava.hellospringmvc.service.MemberServiceImpl">
        <!-- memberDAO와 연결하는 코드 작성(XML) -->
        <property name="memberDAO" ref="memberDAO" />
    </bean>


</beans>